html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	background-color: #16365d;
	font-family: 'Montserrat', sans-serif;
}

#container {
	width: 95%;
	margin: 0 auto;
}

header img {
	width: 100vw;
}

h2 {
	color: #fff200;
	font: 900 3em 'Montserrat';
}

h3 {
	color: #2f72c4;
	font: 800 2em 'Montserrat';
}

p, figcaption {
	color: white;
	font: 200 1em 'Montserrat';
}

a {
	color: #fff200;
}

a:visited, a:hover {
	color: #25995b;
}

figure img {
	width: 100%;
	max-width: 700px;
}

aside::before, aside::after {
	content: "";
	padding-top: 25%;
	display: block;
}

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap; /* 1 */
}

.button {
	letter-spacing: 0.063em;
	text-transform: uppercase;
	font: 800 1.375em 'Montserrat';
	background-color: #16365d;
	border: 3px solid #fff200;
	color: #fff200;
	padding: 2%;
	width: 100%;
}

.button:hover {
	background-color: #fff200;
	color: #16365d;
}

/* Colors */
.color-group {
	display: inline;
	width: 100%;
}

#color1, #color2, #color3, #color4, #color5, #color6 {
	color: white;
	border: none;
	padding: 1em 2em;
	width: calc(100% / 2);
	display: inline;
	font: 300 0.8725em 'Montserrat';
	float: left;
}

#color1 {
	background-color: #16365d; /* Blue */
}

#color2 {
	background-color: #fff200; /* Yellow */
	color: black;
}

#color3 {
	background-color: #d9c066; /* Tan */
}

#color4 {
	background-color: #2f72c4; /* Light Blue */
}

#color5 {
	background-color: #25959b; /* Green */
}

#color6 {
	background-color: #ffffff; /* Green */
	color: black;
}

/* Media Queries */
@media (min-width: 600px) {
	aside::before, aside::after {
		padding-top: 15%;
	}
}

@media (min-width: 700px) {
	figure img {
		width: calc(100% / 3.1);
		display: inline;
		box-sizing: border-box;
	}
	.color-group {
		display: inline-block;
		width: 100%;
	}
	#color1, #color2, #color3, #color4, #color5, #color6 {
		padding: 1em 2em;
		width: calc(100% / 6);
	}
}

@media (min-width: 800px) {
	main, aside {
		width: 50vw;
		float: right;
		padding-left: 2%;
		border-left: 0.5px solid #d9c066;
	}

	header img {
		width: 40vw;
		float: left;
	}


	h2 {
		font: 900 2em 'Montserrat';
	}

	h3 {
		color: #2f72c4;
		font: 800 1.3em 'Montserrat';
	}
}

@media (min-width: 1000px) {
	main {
		padding: 0 1% 0 1%;
		float: left;
		width: 40vw;
		border-right: 0.5px solid #d9c066;
	}

	aside {
		width: 100%;
		border: none;
	}

	aside::before, aside::after {
		padding-top: 1%;
	}

	section {
		padding-left: 1%;
		border-top: none;
	}

	section.color-group {
		width: 15vw;
		height: 100vh;
		position: absolute;
		float: right;
	}

	#color1, #color2, #color3, #color4, #color5, #color6 {
		padding: 1em 2em;
		clear: both;
		width: 100%;
	}

	p, figcaption {
		color: white;
		font: 200 0.875em 'Montserrat';
	}
}
