html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	background-color: #16365D;
	font-family: 'Montserrat', sans-serif;
}

#container {
	width: 95%;
	margin: 0 auto;
}

nav img {
	width: 100vw;
}

h1 {
	color: #FFF200;
	font: 900 3em 'Montserrat';
}

h2 {
	color: #2F72C4;
	font: 800 2em 'Montserrat';
}

p, figcaption {
	color: white;
	font: 200 1em 'Montserrat';
}

a {
	color: #FFF200;
}

a:visited, a:hover {
	color: #25995B;
}

figure img {
	width: 100%;
	max-width: 700px;
}

aside::before, aside::after {
	content: "";
	padding-top: 25%;
	display: block;

}


/* for media queries
figure img {
	width: calc(100% / 3.1);
	display: inline;
	box-sizing: border-box;
}
*/

.button {
	letter-spacing: 0.063em;
	text-transform: uppercase;
	font: 800 1.375em 'Montserrat';
	background-color: #16365D;
	border: 3px solid #FFF200;
	color: #FFF200;
	padding: 2%;
	width: 100%;
}

.button:hover {
	background-color: #FFF200;
	color: #16365D;
}
-
/* Colors */
.color-group {
	display: inline;
	width: 100%;
}

#color1, #color2, #color3, #color4, #color5, #color6 {
	color: white;
	border: none;
	padding: 1em 2em;
	width: calc(100% / 2);
	display: inline;
	font: 300 0.8725em 'Montserrat';
	float: left;
}

#color1 {
	background-color: #16365D; /* Blue */
}

#color2 {
	background-color: #FFF200; /* Yellow */
	color: black;
}

#color3 {
	background-color: #D9C066; /* Tan */
}

#color4 {
	background-color: #2F72C4; /* Light Blue */
}

#color5 {
	background-color: #25959B; /* Green */
}

#color6 {
	background-color: #FFFFFF; /* Green */
	color: black;
}
